.preview {
			width: 360px;
			height:90px;
			position: absolute;
			top:0;
			left:-90px;
			z-index:90;
		}
		
		.preview img {
			position: absolute;
			left:90px;
			top:0px;
			width: 90px;
			-webkit-transition:  all 0.3s ease-out; 
			-moz-transition:  all 0.3s ease-out; 
			transition:  all 0.3s ease-out; 	
			opacity:0;
		}
		
		.preview .alt {
			position: absolute;
			left:-180px;
			top:0;
			background: #fff;
			width: 180px;
			height:90px;
			color:#000;
			text-indent:0;
			text-transform: uppercase;
			text-align:center;
			font-size:16px;
			line-height:90px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
			-webkit-transition:  all 0.3s ease-out; 
			-moz-transition:  all 0.3s ease-out; 
			transition:  all 0.3s ease-out; 	
			opacity:0;						
		}
		
		
		/* next button */		
		.flex-next .preview {
			right:-90px;
			left:auto;	
		}
		
		.flex-next .preview img {
			position: absolute;
			left:180px;
			width: 90px;
		}
		
		.flex-next .preview .alt {
			left:auto;
			right:-90px;
		}
		
		
		/* hover style */		
		.flex-prev:hover .preview .alt {
			left:180px;
			opacity:1;
		}
		
		.flex-next:hover .preview .alt {
			right:180px;
			opacity:1;
		}		
		
		.flex-direction-nav a:hover .preview img {		
			top:-90px;
			opacity:1;				
		}	